<footer>
    <div id="flexbox">
        <div class="foot">
            
            <ul>
                <h4>Contactos</h4>
                <a href="#"><li><i class="fa-solid fa-arrow-right"></i> GameStore&#64;gmail</li></a>
                <a href="#"><li><i class="fa-solid fa-arrow-right"></i> +52 4491097755</li></a>
                <a href="#"><li><i class="fa-solid fa-arrow-right"></i> Chat en linea</li></a>
            </ul> 
        </div>
        <div class="foot">
            <ul>
                <h4>Redes</h4>
                <a href="#"><li><i class="fa-solid fa-arrow-right r"></i> <i class="fa-brands fa-instagram"></i> GameStore</li></a>
                <a href="#"><li><i class="fa-solid fa-arrow-right r"></i> <i class="fa-solid fa-x"></i> GameStore</li></a>
                <a href="#"><li><i class="fa-solid fa-arrow-right r"></i> <i class="fa-brands fa-facebook"></i> GameStore</li></a> 
            </ul>
        </div>
        <div class="foot">     
            <ul>
                <h4>Mas</h4>
                <a href="#"><li><i class="fa-solid fa-arrow-right"></i> Soporte</li></a>
                <a href="#"><li><i class="fa-solid fa-arrow-right"></i> Leer Mas</li></a>
                <a href="#"><li><i class="fa-solid fa-arrow-right"></i> Politicas</li></a>
            </ul>
        </div>
     </div>
        <div id="copy">
            <p>&copy; 2025 Todos los derechos reservados</p>
        </div>
    </footer>