
<div id="cont">
        <h1>Disfruta de Grandes Experiencias</h1>
    <div id="images">
        <img src="img/img1.jpeg" alt="">  
        <img src="img/img2.jpeg" alt="">
        <img src="img/img3.jpeg" alt="">
        <img src="img/img4.jpeg" alt="">
      </div> 
    
      <div id="parte-2">
        <div class="parts">
          <div>
       <i><h1>Todos corren por sus vidas al ver el gélido  atuendo "Sub-Zero (MK3)"</h1></i> 
          <p>Puede que Don Curtido, el aspirante a rapero, tenga un estilo fresco como un pepino, pero este atuendo desbloqueable es genial de una forma diferente.</p>
        </div>
          <img src="img/zub-zero.jpg" width="500px" alt="">
        </div>
  
        <div class="parts">
          <img src="img/lego.jpg" width="500px" alt="">
          <div>
         <i> <h1>Los estilos LEGO se roban todas las miradas</h1> </i>
          <p>Cada ladrillo cuenta. ¡Todos los atuendos originales de Fortnite en el pase de batalla de Bandidos incluyen un estilo LEGO que puedes usar en las experiencias LEGO!</p>
        </div>
        </div>
      </div>

      <div class="parts">
        <div>
     <i><h1>Compra Ya la nueva Xbox Series X</h1></i> 
        <p>Con un diseño elegante y poderoso, la Xbox Series X redefine lo que es posible.
            Impulsada por 12 teraflops de potencia pura, esta bestia tecnológica te lleva a mundos hiperrealistas en resolución 4K, con velocidades de hasta 120 cuadros por segundo..</p>
      </div>
        <img src="img/th.jpeg" width="500px" alt="">
      </div>

  
     <div id="ima">
        <a href="#">Ver Mas</a>
     </div>
</div>

